@font-face {
    font-family: "Bebas Neue";
    src:local("Bebas Neue"),
        url("./fonts/bebas_neue.tff");
    font-weight: normal;
}
:root {
    --yellowColor: rgb(238,209,49);
    --base: 16;
    --baseWidth: calc(var(--base) * 10px);
}
body {
    overflow-x: hidden;
}
h1 {
    margin: 0;
    padding: calc(var(--baseWidth) + 5px) 0 0 calc(var(--baseWidth) * 2.5);
    font-size: calc(var(--base) * 1rem);
    letter-spacing: 16px;
    font-weight: normal;
    line-height: 1.2;
}
h2 {
    font-weight: normal;
    color: var(--yellowColor);
}
p {
    background-color: var(--yellowColor);
    color: #fff;
    padding: 10px;
}
ul {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}
a {
    color: var(--yellowColor);
    font-weight: normal;
}
#circle {
    font-family: "Bebas Neue";
    margin-top: 100px;
    margin-left: -300px;
    min-width: calc(var(--baseWidth) * 10);
    min-height: calc(var(--baseWidth) * 10);
    width: calc(var(--baseWidth) * 10);
    border-radius: calc(var(--baseWidth) * 5);
    background-color: var(--yellowColor);
    color: #fff;
    grid-area: title;
}
.container {
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
        "title"
        "menu";
    margin: 5px;
    margin-bottom: 0;
}
#menu {
    font-family: "Bebas Neue";
    color: var(--yellowColor);
    text-align: center;
    font-size: calc(var(--base) * 0.7rem);
    margin-right: 20px;
    grid-area: menu;
}
.detail {
    font-family: "Bebas Neue";
    margin-left: 10px;
    margin-right: 10px;
    font-size: 5rem;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
}

#about ul {
    list-style-type: disc;
    color: #fff;
    background-color: var(--yellowColor);
    padding: 20px 20px 20px 120px;
    margin-top: -100px;
}

@media (min-width: 1200px) {
    :root {
        --base: 7;
    }
    ul {
        margin-top: 112px;
    }
    #circle {
        margin-top: 50px;
        margin-left: 100px;
    }
    .container {
        grid-template-areas:
            "title menu";
    }
    #menu {
        font-family: "Bebas Neue";
        color: var(--yellowColor);
        font-size: calc(var(--base) * 1rem);
        margin-right: 20px;
        grid-area: menu;
        text-align: right;
    }
    .detail {
        margin-left: 100px;
        margin-right: 300px;
        font-size: 2rem;
        height: 100vh;
        width: unset;
    }
    #about ul {
        margin-top: -50px;
        padding: 20px 20px 20px 60px;
    }
}
